.container {
  margin-top: 50px;
}

.btn {
  background: blue;
  /* transition: background 4s ease, height 4s ease, width 4s ease; */
  width: 70px;
  height: 35px;
  transition: all 2s ease-out;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  border-style: none;
  transform: rotate(0);

}
.hello {
  border-radius:25px 20px;
}

.btn:hover {
  background: orange;
  height: 100%;
  width: 100%;
  font-size: 50px;
  text-align: center;
  border-radius: 20%/50%;
  transform: rotate(180deg);
}
router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}










